.card-container{
   display: flex;
   width: 220px;
   flex-direction: column;
}

.poster{
   align-self: center;
}

.title{
   font-size: 18px;
   font-family: 'DM Sans';
   font-weight: 700;
   line-height: 23px;
   margin: 0
}

.upper{
   padding-top: 18px;
}

.subtext {
   font-size: 12px;
   font-weight: 700;
   line-height: 16px;
   color: #9CA3AF;
}