.card-container{
   display: flex;
   flex: 1 0 19%;
   width: 220px;
   flex-direction: column;
   padding: 1rem;
   align-items: flex-start;
   text-decoration: none;
}

.card-container:hover{
   text-decoration: underline;
   color: white;
   transform: translateY(-8px);
}

.poster{
   align-self: center;
}

.title{
   text-align: start;
   font-size: 18px;
   color: #FFF;
   font-family: 'DM Sans';
   font-weight: 700;
   line-height: 23px;
   margin: 0
}

.upper{
   padding-top: 18px;
}

.subtext {
   font-size: 12px;
   font-weight: 700;
   line-height: 16px;
   color: #9CA3AF;
}