.movie-categorie-container{
   display: flex;
   padding: 1rem 0.5rem;
   flex-direction: column;
}

.movie-container{
   display: flex;
   flex-wrap: wrap;
}

.pagination  {
   align-self: center;
   padding: 1rem 0;
}
.MuiPaginationItem-icon{
   color: #FFF;
};
